.inv-sticky.affix{
  position: fixed !important;
  width: 100%;
  z-index: 9999;
  top:0;
}
.sticky-wrapper {
  position: relative;
  z-index: 101;
}
.inv-sticky.affix-bottom {
  position: absolute;
}
@media (max-width: 991px) {
  .inv-sticky.unsticky-mobile.affix {
    position: static !important;
  }
}